DATABASE_URL="postgresql://postgres:postgres@localhost:5432/toggl"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=5674059836d443e591806aefd2a347b0
